.grandpa, .grandpa div{
    border: 1px solid orange;
    padding: 10px ;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.flex{
    display: flex;
    justify-content: space-between;
}